body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 头 */
header {
    width: 100%;
    height: calc(84rem / 37.5);
    background-color: #d43c33;
    /* line-height: 84px; */
    overflow: hidden;
}

header .iconfont {
    float: left;
    /* display: block; */
    width: calc(24rem / 37.5);
    height: calc(24rem / 37.5);
    background-color: #fff;
    color: #d43c33;
    border-radius: 50%;
    text-align: center;
    line-height: calc(24rem / 37.5);
    margin: calc(30rem / 37.5) calc(10rem / 37.5);
}

.header-center {
    float: left;
    color: #fff;
    font-size: calc(20rem / 37.5);
    line-height: calc(84rem / 37.5);
}

.header-right {
    float: right;
    width: calc(100rem / 37.5);
    height: calc(36rem / 37.5);
    font-weight: 500;
    color: #d43c33;
    background-color: #fff;
    border-radius: 37.5%/100%;
    font-size: calc(16rem / 37.5);
    line-height: calc(36rem / 37.5);
    text-align: center;
    margin: calc(24rem / 37.5) calc(10rem / 37.5);
}

/* 导航栏 */
.var {
    width: 100%;
    display: flex;
    height: calc(40rem / 37.5);
    border-bottom: calc(1rem / 37.5) solid #ccc;
}

.var-rec {
    flex: 1;
    width: 33.33333%;
    height: calc(40rem / 37.5);
    line-height: calc(40rem / 37.5);
    text-align: center;
}

.var-rec span {
    width: 100%;
    height: 100%;
    color: #424242;
    font-size: calc(15rem / 37.5);
    padding: calc(8rem / 37.5) 0;


}

.var-rec:nth-child(2) span {
    border-bottom: calc(2rem / 37.5) solid #df162f;
}

.var-rec:hover {
    text-decoration: none;
}

/* 热歌榜 */
.modern {
    background-image: url(../images/hot_music_bg_2x.jpg);
    padding-left: calc(10rem / 37.5);
    padding-top: calc(30rem / 37.5);
    background-size: contain;
}

.modern-top {
    width: calc(142rem / 37.5);
    height: calc(67rem / 37.5);
    background-image: url(../images/index123.png);
    background-size: calc(166rem / 37.5) calc(97rem / 37.5);
    background-position: -24px -30px;
}

.modern-bottom {
    font-size: calc(12rem / 37.5);
    margin-top: calc(10rem / 37.5);
    color: hsla(0, 0%, 100%, .8);
    padding-bottom: calc(30rem / 37.5);
}

/* 最新音乐 */
.music {
    width: 100%;
    padding-top: calc(20rem / 37.5);
}

.music-song {
    width: 100%;
}

.music-song-row {
    display: flex;
    padding: calc(10rem / 37.5) 0 calc(10rem / 37.5) calc(15rem / 37.5);
}

.music-song-row:hover {
    text-decoration: none;
}

.music-song-row-new {
    width: calc(30rem / 37.5);
    font-size: calc(17rem / 37.5);
    color: #999;
    line-height: calc(40rem / 37.5);
    margin-left: clac(-10rem / 37.5);
}

.music-song-row-new:nth-child(-n+3) {
    color: #df3436;
}

/* 左 */
.music-song-row-left {
    flex: 1;
    position: relative;
    border-bottom: calc(1rem / 37.5) solid #f0f0f1;
}

.music-song-row-left-top {
    font-size: calc(17rem / 37.5);
    color: #344151;
    margin-bottom: calc(5rem / 37.5);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.music-song-row-left-top span {
    color: #888;
    margin-left: calc(4rem / 37.5);
    font-size: calc(17rem / 37.5);
}

.music-song-row-left-bottom {
    font-size: calc(12rem / 37.5);
    color: #888;
    margin-left: calc(16rem / 37.5);
}

.music-song-row-left-bottom::after {
    position: absolute;
    content: "";
    width: calc(12rem / 37.5);
    height: calc(8rem / 37.5);
    top: calc(28rem / 37.5);
    left: 0;
    background-image: url(../images/index_icon_2x.png);
    background-size: calc(166rem / 37.5) calc(97rem / 37.5);
}

/* 右 */
.music-song-row-right {
    width: calc(22rem / 37.5);
    height: calc(22rem / 37.5);
    border-bottom: calc(1rem / 37.5) solid #f0f0f1;
    background-image: url(../images/index_icon_2x.png);
    background-position: -24px 0;
    background-size: calc(166rem / 37.5) calc(97rem / 37.5);
    padding: 0 calc(6rem / 37.5) calc(10rem / 37.5) calc(10rem / 37.5);
    margin-top: calc(10rem / 37.5);
}

.music-song-row:last-child {
    padding-bottom: 0;
}

/* 底部 */
footer {
    width: 100%;
    text-align: center;
}

footer a {
    position: relative;
    width: 100%;
    margin: auto;
    color: #999;
    line-height: calc(55rem / 37.5);
    text-align: center;
    font-size: calc(16rem / 37.5);
    margin-left: -30px;
}

footer a::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 96px;
    width: calc(8rem / 37.5);
    height: calc(8rem / 37.5);
    border: calc(1rem / 37.5) solid #cfcfcf;
    border-top: transparent;
    border-left: transparent;
    transform: rotate(-39deg);
}

footer a:hover {
    text-decoration: none;
}